## Mission to Mars

In [307]:
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [308]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\kate_\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [309]:
# URL of page to be scraped
available_url = "https://www.irvinecompanyapartments.com/locations/orange-county/irvine/spectrum/promenade-at-spectrum/availability.html#floor-plan-list"

In [310]:
browser.visit(available_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [311]:
parse_soup = soup
complex_soup = parse_soup.find_all("h1", class_="sticky-header__title-heading")

complex_name = complex_soup[0].text
print(complex_name)

Promenade at Irvine Spectrum

In [312]:
parse_soup = soup
floor_plans = parse_soup.find_all('div', class_="fapt-fp-list-item")



# Loop through returned results
for plan in floor_plans:
    

    # Error handling
    try:
        print(plan.find('div', class_="fapt-fp-list-item__column--plan-name").text)
        # Identify and return title of listing
        print(plan.find('div', class_="fapt-fp-list-item__column--beds-baths").text)
        # Identify and return price of listing
        print(plan.find('div', class_="fapt-fp-list-item__column--price").text)
        # Identify and return link to listing
        print(plan.find('div', class_="fapt-fp-list-item__column--sqft").text)
        
        units = plan.find_all("div", class_="fapt-fp-unit__table-row")
        
        for unit in units:
            unit_name = unit.find("span", class_="fapt-fp-unit__unit-name-text")
            if unit_name:
                print(unit_name.text)
                print(unit.find("div", class_="fapt-fp-unit__column-inner--term").text)
                print(unit.find("div", class_="fapt-fp-unit__column-inner--price").text)
                print(unit.find("div", class_="fapt-fp-unit__column-inner--available").span.text)
            


    except AttributeError as e:
        print(e)

PLAN 1
Studio / 1 Bath
 $1,935
681
05 5314
14 mo.
$1,935
02/21/2021
04 4150
14 mo.
$1,980
02/21/2021
04 4149
14 mo.
$1,980
02/21/2021
05 5158
14 mo.
$1,980
02/21/2021
05 5114
14 mo.
$1,980
02/21/2021
PLAN 2
Studio / 1 Bath
Call for pricing
815
PLAN 3
1 Bed / 1 Bath
 $2,340
764
04 4223
14 mo.
$2,340
02/21/2021
05 5350
14 mo.
$2,355
02/21/2021
05 5150
14 mo.
$2,420
02/21/2021
04 4141
14 mo.
$2,420
02/21/2021
04 4123
14 mo.
$2,420
02/21/2021
PLAN 4
1 Bed / 1 Bath
 $2,300
744
05 5137
14 mo.
$2,300
02/21/2021
05 5133
14 mo.
$2,300
02/21/2021
05 5131
14 mo.
$2,300
02/21/2021
05 5117
14 mo.
$2,300
02/21/2021
05 5115
14 mo.
$2,300
02/21/2021
PLAN 5
1 Bed / 1 Bath
 $2,345
843
04 4108
14 mo.
$2,345
02/21/2021
04 4339
14 mo.
$2,380
02/21/2021
04 4131
14 mo.
$2,445
02/21/2021
05 5128
14 mo.
$2,445
02/21/2021
05 5140
14 mo.
$2,445
02/21/2021
PLAN 6
1 Bed / 1 Bath
 $2,600
835
05 5130
14 mo.
$2,600
02/21/2021
05 5230
14 mo.
$2,615
02/21/2021
05 5330
14 mo.
$2,635
02/21/2021
PLAN 7
1 Bed / 1 Bath
 $2,625
730
05 5111
14 mo.
$2,625
02/21/2021
04 4127
14 mo.
$2,625
02/21/2021
05 5211
14 mo.
$2,640
02/21/2021
04 4227
14 mo.
$2,640
02/21/2021
05 5311
14 mo.
$2,660
02/21/2021
PLAN 8
Loft / 1 Bed / 1 Bath
Call for pricing
908
PLAN 9
Loft / 1 Bed / 1 Bath
 $3,215
993
05 5331
14 mo.
$3,215
02/21/2021
PLAN 10
1 Bed / 1 Bath
 $2,580
842
05 5126
14 mo.
$2,580
02/21/2021
04 4102
14 mo.
$2,580
02/21/2021
PLAN 11
1 Bed / 1 Bath
 $2,890
1,038
05 5104
14 mo.
$2,890
02/21/2021
PLAN 12
1 Bed / 1 Bath
 $2,300
746
05 5154
14 mo.
$2,300
02/21/2021
04 4136
14 mo.
$2,300
02/21/2021
04 4124
14 mo.
$2,300
02/21/2021
04 4118
14 mo.
$2,300
02/21/2021
03 3139
14 mo.
$2,300
02/21/2021
PLAN 13
1 Bed / 1 Bath
 $2,690
948
05 5213
14 mo.
$2,690
02/21/2021
05 5413
14 mo.
$2,725
02/21/2021
PLAN 14
1 Bed / 1 Bath
 $2,560
789
01 1115
14 mo.
$2,560
02/21/2021
01 1215
14 mo.
$2,575
02/21/2021
01 1321
14 mo.
$2,620
02/21/2021
PLAN 15
Den / 1 Bed / 1 Bath
 $2,540
830
05 5139
14 mo.
$2,540
02/21/2021
05 5125
14 mo.
$2,540
02/21/2021
05 5123
14 mo.
$2,540
02/21/2021
04 4119
14 mo.
$2,540
02/21/2021
04 4117
14 mo.
$2,540
02/21/2021
PLAN 16
Den / 1 Bed / 1 Bath
Call for pricing
926
PLAN 17
Den / 1 Bed / 1 Bath
Call for pricing
976
PLAN 18
Den / 1 Bed / 1 Bath
 $2,965
1,055
04 4143
14 mo.
$2,965
02/21/2021
05 5152
14 mo.
$2,965
02/21/2021
03 3447
13 mo.
$3,015
03/04/2021
PLAN 19
2 Bed / 2 Bath
 $2,830
1,133
05 5161
14 mo.
$2,830
02/21/2021
05 5134
14 mo.
$2,830
02/21/2021
05 5132
14 mo.
$2,830
02/21/2021
05 5122
14 mo.
$2,830
02/21/2021
05 5112
14 mo.
$2,830
02/21/2021
PLAN 20
2 Bed / 2 Bath
 $3,050
1,130
03 3414
14 mo.
$3,050
02/21/2021
PLAN 21
2 Bed / 2 Bath
 $3,645
1,335
03 3213
14 mo.
$3,645
02/21/2021
03 3313
14 mo.
$3,665
02/21/2021
PLAN 22
2 Bed / 2 Bath
 $3,550
1,306
03 3321
14 mo.
$3,550
02/21/2021
04 4133
14 mo.
$3,555
02/21/2021
05 5142
14 mo.
$3,555
02/21/2021
05 5124
14 mo.
$3,555
02/21/2021
04 4115
14 mo.
$3,555
02/21/2021
PLAN 23
2 Bed / 2 Bath
Call for pricing
1,212
PLAN 24
2 Bed / 2 Bath
 $2,830
1,038
04 4120
14 mo.
$2,830
02/21/2021
04 4130
14 mo.
$2,830
02/21/2021
04 4146
14 mo.
$2,830
02/21/2021
04 4230
14 mo.
$2,845
02/21/2021
04 4246
14 mo.
$2,845
02/21/2021
PLAN 25
2 Bed / 2 Bath
 $3,210
1,130
05 5144
14 mo.
$3,210
02/21/2021
04 4135
14 mo.
$3,210
02/21/2021
04 4235
14 mo.
$3,225
02/21/2021
05 5244
14 mo.
$3,225
02/21/2021
04 4353
14 mo.
$3,245
02/21/2021
PLAN 26
2 Bed / 2 Bath
Call for pricing
1,390
PLAN 27
Loft / 2 Bed / 2 Bath
Call for pricing
1,334

In [269]:
parse_soup = soup
plan_name = []
i = 0
units = soup.find_all('div', class_="fapt-fp-unit__table-row")
# Loop through returned results
for unit in units:
    # Error handling
    try:
        unit_name = unit.find("span", class_="fapt-fp-unit__unit-name-text")
        if unit_name:
            print(unit_name.text)
            print(unit.find("div", class_="fapt-fp-unit__column-inner--term").text)
            print(unit.find("div", class_="fapt-fp-unit__column-inner--price").text)
            print(unit.find("div", class_="fapt-fp-unit__column-inner--available").span.text)
            i += 1

    except AttributeError as e:
        print(e)
        
print(i)

05 5314
14 mo.
$1,935
02/21/2021
04 4150
14 mo.
$1,980
02/21/2021
04 4149
14 mo.
$1,980
02/21/2021
05 5158
14 mo.
$1,980
02/21/2021
05 5114
14 mo.
$1,980
02/21/2021
04 4223
14 mo.
$2,340
02/21/2021
05 5350
14 mo.
$2,355
02/21/2021
05 5150
14 mo.
$2,420
02/21/2021
04 4141
14 mo.
$2,420
02/21/2021
04 4123
14 mo.
$2,420
02/21/2021
05 5137
14 mo.
$2,300
02/21/2021
05 5133
14 mo.
$2,300
02/21/2021
05 5131
14 mo.
$2,300
02/21/2021
05 5117
14 mo.
$2,300
02/21/2021
05 5115
14 mo.
$2,300
02/21/2021
04 4108
14 mo.
$2,345
02/21/2021
04 4339
14 mo.
$2,380
02/21/2021
04 4131
14 mo.
$2,445
02/21/2021
05 5128
14 mo.
$2,445
02/21/2021
05 5140
14 mo.
$2,445
02/21/2021
05 5130
14 mo.
$2,600
02/21/2021
05 5230
14 mo.
$2,615
02/21/2021
05 5330
14 mo.
$2,635
02/21/2021
05 5111
14 mo.
$2,625
02/21/2021
04 4127
14 mo.
$2,625
02/21/2021
05 5211
14 mo.
$2,640
02/21/2021
04 4227
14 mo.
$2,640
02/21/2021
05 5311
14 mo.
$2,660
02/21/2021
05 5331
14 mo.
$3,215
02/21/2021
05 5126
14 mo.
$2,580
02/21/2021
04 4102
14 mo.
$2,580
02/21/2021
05 5104
14 mo.
$2,890
02/21/2021
05 5154
14 mo.
$2,300
02/21/2021
04 4136
14 mo.
$2,300
02/21/2021
04 4124
14 mo.
$2,300
02/21/2021
04 4118
14 mo.
$2,300
02/21/2021
03 3139
14 mo.
$2,300
02/21/2021
05 5213
14 mo.
$2,690
02/21/2021
05 5413
14 mo.
$2,725
02/21/2021
01 1115
14 mo.
$2,560
02/21/2021
01 1215
14 mo.
$2,575
02/21/2021
01 1321
14 mo.
$2,620
02/21/2021
05 5139
14 mo.
$2,540
02/21/2021
05 5125
14 mo.
$2,540
02/21/2021
05 5123
14 mo.
$2,540
02/21/2021
04 4119
14 mo.
$2,540
02/21/2021
04 4117
14 mo.
$2,540
02/21/2021
04 4143
14 mo.
$2,965
02/21/2021
05 5152
14 mo.
$2,965
02/21/2021
03 3447
13 mo.
$3,015
03/04/2021
05 5161
14 mo.
$2,830
02/21/2021
05 5134
14 mo.
$2,830
02/21/2021
05 5132
14 mo.
$2,830
02/21/2021
05 5122
14 mo.
$2,830
02/21/2021
05 5112
14 mo.
$2,830
02/21/2021
03 3414
14 mo.
$3,050
02/21/2021
03 3213
14 mo.
$3,645
02/21/2021
03 3313
14 mo.
$3,665
02/21/2021
03 3321
14 mo.
$3,550
02/21/2021
04 4133
14 mo.
$3,555
02/21/2021
05 5142
14 mo.
$3,555
02/21/2021
05 5124
14 mo.
$3,555
02/21/2021
04 4115
14 mo.
$3,555
02/21/2021
04 4120
14 mo.
$2,830
02/21/2021
04 4130
14 mo.
$2,830
02/21/2021
04 4146
14 mo.
$2,830
02/21/2021
04 4230
14 mo.
$2,845
02/21/2021
04 4246
14 mo.
$2,845
02/21/2021
05 5144
14 mo.
$3,210
02/21/2021
04 4135
14 mo.
$3,210
02/21/2021
04 4235
14 mo.
$3,225
02/21/2021
05 5244
14 mo.
$3,225
02/21/2021
04 4353
14 mo.
$3,245
02/21/2021
73

In [143]:
parse_soup = soup
price_list = []
prices = parse_soup.find("div", class_="fapt-fp-list-item__column--price")
for row in prices:
    price_list.append(row.text)
    
price_list

['STARTING PRICE']

In [8]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [9]:
img_soup = soup.find_all("a", class_="showimg")

picfile = img_soup[0]["href"]

featured_image_url = feat_img_url.replace("index.html", picfile)
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg

In [10]:
tbl_url = "https://space-facts.com/mars/"
tables = pd.read_html(tbl_url)
mars_df = tables[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
mars_df = mars_df.rename(columns={0: "Aspect", 1: "Measurement"})
mars_df

                 Aspect                    Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
mars_tbl_str = mars_df.to_html()
mars_tbl_str

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Aspect</th>\n      <th>Measurement</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [14]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [15]:
hemisphere_soup = soup.find_all("div", class_="description")

hemi_titles = []

for item in hemisphere_soup:
    temp_name = item.text.split("/")
    hemi_name = temp_name[0].replace(" Enhancedimage", "")
    hemi_titles.append(hemi_name)
    
print(hemi_titles)

['Cerberus Hemisphere', 'Schiaparelli Hemisphere', 'Syrtis Major Hemisphere', 'Valles Marineris Hemisphere']

In [16]:
base_url = "https://astrogeology.usgs.gov"
hemi_img = []

In [17]:
hemi_url_list = ["https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced",
                "https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced",
                "https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced",
                "https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"]

In [19]:
for url in hemi_url_list:
    browser.visit(url)
    
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    
    hemi_soup = soup.find("img", class_="wide-image")   
    
    hemi_img.append(base_url + hemi_soup["src"])
    
    
print(hemi_img)

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg', 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg', 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [20]:
hemisphere_image_urls = []

for i in range(0, len(hemi_titles)):
    hemisphere_image_urls.append({"title": hemi_titles[i], "img_url": hemi_img[i]})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]